*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.clock{
    width: 300px;
    height: 300px;
    border: 20px solid black;
    border-radius: 50%;
    padding: 2rem;
}

.clock-face{
    width: 100%;
    height: 100%;
    position: relative;
}

.hand{
    width: 50%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg); 
}

.sec-hand{
    background-color: gold;
}